node_modules/
npm-debug.log*
.DS_Store
.env
.env.*
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.plan.txt
tfplan
plan.txt
*.pem
.idea/
.vscode/
